{{> _header}}

<section id="home" class="container-fluid">
  <div class="container-fluid">
        <div class="row align-items-center min-vh-100 content">
        <div class="col-md-8 m1-md-5">
            <h2>online</h2>
            <h1>education</h1>
            <h3>learn online from home</h3>

            <a href="#course"><button>enroll now >></button></a>
            <div class="icons">
                <a href="#"><i class="fab fa-facebook-f fa-1x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-1x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-1x"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-1x"></i></a>
            </div>
        </div>
    </div>
  </div>
</section>

<!-- About -->
<section class="about-section" id="about">
    <div class="container text-center pt-3">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>About us</h2>
                <p class="lead mb-4 col-lg-4 col-md-4 col-sm-4  text-dark">
                    Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and visual
                    mockups.
                </p>
                <button class="btn btn-about" href="#about">
                    Take a tour
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="services-section" id="services">
    <div class="container text-center">
        <div class="services-heading">
            <h2 class="services-title mb-5">Courses</h2>
        </div>
        <div class="row mb-4">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="services-icon rounded-circle mx-auto mb-3">
                    <i class="fa fa-guitar fa-3x"></i>
                </span>
                <h4 class="mb-1"><strong>Responsive</strong></h4>
                <p class="lead mb-4 text-dark">
                    Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and visual
                    mockups.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="services-icon rounded-circle mx-auto mb-3">
                    <i class="fa fa-user-md fa-3x"></i>
                </span>
                <h4 class="mb-1"><strong>Responsive</strong></h4>
                <p class="lead mb-4 text-dark">
                    Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and visual
                    mockups.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="services-icon rounded-circle mx-auto mb-3">
                    <i class="fa fa-heart fa-3x"></i>
                </span>
                <h4 class="mb-1"><strong>Responsive</strong></h4>
                <p class="lead mb-4 text-dark">
                    Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and visual
                    mockups.
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="services-icon rounded-circle mx-auto mb-3">
                    <i class="fa fa-music fa-3x"></i>
                </span>
                <h4 class="mb-1"><strong>Responsive</strong></h4>
                <p class="lead mb-4 text-dark">
                    Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and visual
                    mockups.
                </p>
            </div>
        </div>
    </div>
</section>

 {{!-- About Cirricu --}}
 <section id="certificate">
     <div class="container">
         <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 img">
                  <img src="img/guitar.png" class="img-fluid">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 desc">
     
                <h3>Curriculum</h3>
                <p>
                   ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
               </div>
              </div>
         </div>
     </div>
 </section>

<!-- Portfolio -->
<section id="portfolio">
    <div class="container text-center">
        <div class="portfolio-heading">
            <h2 class="portfolio-title">Portfolio</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <a href="#">
                      <img src="img/guitar.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <img src="img/guitar.png" class="img-fluid">
                </div>
                 <div class="col-md-4 col-lg-4 col-sm-12">
                    <img src="img/guitar.png" class="img-fluid">
                </div> 
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <img src="img/guitar.png" class="img-fluid">
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <img src="img/guitar.png" class="img-fluid">
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <img src="img/guitar.png" class="img-fluid">
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <img src="img/guitar.png" class="img-fluid">
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <img src="img/guitar.png" class="img-fluid">
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <img src="img/guitar.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <section class="portfolio-section mb-3" id="Portfolio">
    <div class="container text-center">
        <div class="content-section-heading">
            <h2 class="section-title mb-5">Portfolio</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a class="portfolio-items" href="">
                    <div class="caption">
                        <div class="caption-content">
                            <h2 class="text-uppercase">Lorem Ispium</h2>
                            <p class="lead">
                                Lorem ipsum is placeholder text commonly used in the
                                graphic, print, and publishing industries for previewing
                                layouts and visual mockups.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="./img/pic4.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a class="portfolio-items" href="">
                    <div class="caption">
                        <div class="caption-content">
                            <h2 class="text-uppercase">Lorem Ispium</h2>
                            <p class="lead">
                                Lorem ipsum is placeholder text commonly used in the
                                graphic, print, and publishing industries for previewing
                                layouts and visual mockups.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="./img/pic3.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a class="portfolio-items" href="">
                    <div class="caption">
                        <div class="caption-content">
                            <h2 class="text-uppercase">Lorem Ispium</h2>
                            <p class="lead">
                                Lorem ipsum is placeholder text commonly used in the
                                graphic, print, and publishing industries for previewing
                                layouts and visual mockups.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="./img/pic3.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a class="portfolio-items" href="">
                    <div class="caption">
                        <div class="caption-content">
                            <h2 class="text-uppercase">Lorem Ispium</h2>
                            <p class="lead">
                                Lorem ipsum is placeholder text commonly used in the
                                graphic, print, and publishing industries for previewing
                                layouts and visual mockups.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="./img/pic4.jpg" alt="portfolio" />
                </a>
            </div>
        </div>
    </div>
</section> -->

<section id="team">
    <div class="container">
        <h2 class="text-center">Our Team</h2>
      <div class="row">
       <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="img/pic3.jpg" class="img-fluid" alt="team">
        <div class="des">
          Sara
         </div>
        <span class="text-muted">Manager</span>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="img/pic3.jpg" class="img-fluid" alt="team">
        <div class="des">
           Chris
         </div>
        <span class="text-muted">S.enginner</span>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="img/pic3.jpg" class="img-fluid" alt="team">
        <div class="des">
          Layla 
         </div>
        <span class="text-muted">Front End Developer</span>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="img/pic3.jpg" class="img-fluid" alt="team">
         <div class="des">
          J.Jirard
         </div>
        <span class="text-muted">Team Manger</span>
       </div>
      </div>
     </div>
</section>

<!-- Footer -->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    <h2>Testimonial</h2>
                    <div class="media">
                        <div class="mx-auto">
                            <a href="#"><img src="img/profile1.png" alt="" /></a>
                        </div>
                        <div class="media-body">
                            <blockquote>
                                Nisi commodo bresaola, leberkas venison eiusmod bacon
                                occaecat labore tail.
                            </blockquote>
                            <h3><a href="#">- Jhon Kalis</a></h3>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="img/profile2.png" alt="" /></a>
                        </div>
                        <div class="media-body">
                            <blockquote>
                                Capicola nisi flank sed minim sunt aliqua rump pancetta
                                leberkas venison eiusmod.
                            </blockquote>
                            <h3><a href="">- Abraham Josef</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                        E-mail:
                        <a href="#">email@email.com</a> <br />
                        Phone: +1 (123) 456 7890 <br />
                        Fax: +1 (123) 456 7891 <br />
                    </address>

                    <h2>Address</h2>
                    <address>
                        Unit C2, St.Vincent's Trading Est., <br />
                        Feeder Road, <br />
                        Bristol, BS2 0UY <br />
                        United Kingdom <br />
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                    <h2>Send a message</h2>
                    <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required="required"
                                placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required"
                                placeholder="Email Id" />
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"
                                placeholder="Your text here"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Your Company 2014. All Rights Reserved.</p>
                    <p>
                        Designed by
                        <a target="_blank" href=""><i class="fab fa-facebook">Erik</i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->